<main>
    <div class="main-content">
        <div class="panel">
            <h2>Employee</h2>
            <div class="personal-data">
                <label for="employee_first_name">First Name</label>
                <input type="text" id="employee_first_name" value=""/>
            </div>
            <div class="personal-data">
                <label for="employee_last_name">Last Name</label>
                <input type="text" id="employee_last_name" value=""/>
            </div>
        </div>
    </div>
</main>